# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração do IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.tmp
*.bak
*.swp
*~.nib

# Arquivos de log
*.log
logs/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependências
/vendor/
/node_modules/
